body {
    font-family: sans-serif;
}

header{
  background-color: aqua;
   padding: 15px;
}

nav a{
    text-align: center;
    border: solid navy;
    margin: 20px;
    border-radius: 20px;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: navy;
}
 
 
 nav{
 margin: 20px;
 padding: 20px;

}





header a {
 padding: 10px;
 color: blue;
 text-decoration: underline;
}


header b {
 margin: 5px;

}
 
h1{
text-align: center;
border: solid 5px navy;
border-radius: 20px;
color: orange;
}

footer p {
  background-color:  rgb(83, 183, 83);
  padding: 5px;
}

.production{
 background-color: white;
 color: royalblue;

}
.hlop {
   padding: 15px;
   margin: 50px;
   background-color:  moccasin;
   border-radius: 15px;
   font-size: 20px;
}
